{% extends "base.html.twig" %}

{% block body %}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.unsplash.com/photo-1604467794349-0b74285de7e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" class="d-block w-100 imageCarousel" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1634316164679-dabb68a88a3c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJvdXRpcXVlJTIwY2xvdGhlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" class="d-block w-100 imageCarousel" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1583316174775-bd6dc0e9f298?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" class="d-block w-100 imageCarousel" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


  <section class="bg-secondary">
    <div class="container py-5">
    <div class="row">
          <div class="col-12">
            <h3 class="text-center text-white">Les catégories</h3>
          </div>  

          {% for category in categories %}

              <div class="col-sm-12 col-md-6 col-lg-4 mt-3">

                  <div class="card">
                      <img src="{{ category.imagePath }}" class="card-img-top imageCard" alt="image_category">
                      <div class="card-body">
                          <h5 class="card-title">{{ category.name }}</h5>
                          <a href="{{ path('boutique_product_show_by_category',{'id': category.id}) }}" class="btn btn-primary w-100">Consulter</a>
                      </div>
                  </div>
          
              </div>
              
          {% endfor %}

      </div>
    </div>
  </section>

  <section>
  <div class="container py-5">
      <div class="row">
        <div class="col-12">
          <h3 class="text-center">Les nouveautés</h3>
        </div>  

        {% for product in products %}

            <div class="col-sm-12 col-md-6 col-lg-4 mt-3">

                <div class="card">
                    <img src="{{ product.imagePath }}" class="card-img-top imageCard" alt="image_category">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p>{{ product.price | priceEuro }}</p>
                        <a href="{{ path('boutique_product_detail',{'id': product.id} ) }}" class="btn btn-primary w-100">Consulter</a>
                    </div>
                </div>
        
            </div>
            
        {% endfor %}

    </div>
     </div>
  </section>
   


{% endblock %}