{% extends "base.html.twig" %}

{% block body %}
<div class="container py-5">

    <div class="row">

     {% include "_messages_flash.html.twig" %}
        <div class="col-sm-12 col-md-6">
            <a href="{{ path('profile_image_edit') }}">
            
            </a>
            
        <div class="card border-dark mb-3" style="background-color: #f3eaea">
                <div class="card-header">
                    <h5>Infos persos</h5>
                </div>
                  <div class="card-body text-dark">
                    <p>{{ app.user.name }}</p>
                    <p>{{ app.user.telephone }}</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
              <div class="card border-dark mb-3" style="background-color: #f3eaea">
                <div class="card-header">
                    <h5>Configuration</h5>
                </div>
                    <div class="card-body">
                    <a href="{{ path('profile_purchase_list')  }}" class="btn btn-outline-dark w-100">Mes commandes</a>
<<<<<<< HEAD
                    <a href="{{ path('profile_edit_password') }}" class="btn btn-outline-dark w-100">Changer mon mot de passe</a>
                     <a href="{{ path('profile_contact_support') }}" class="btn btn-outline-dark w-100">Pour toutes questions, ou pour une commande, c'est ici !</a>
=======
                    <a href="{{ path('profile_image_edit') }}" class="btn btn-outline-dark w-100">Modifier ma photo de profil</a>
                    <a href="#" class="btn btn-outline-dark w-100">Modifier mes infos persos</a>
                    <a href="{{ path('profile_edit_password') }}" class="btn btn-outline-dark w-100">Changer mon mot de passe</a>
                    <a href="#" class="btn btn-outline-dark w-100">Contacter le support</a>
>>>>>>> 64ad6fc221e51f09c92e26c26af75b6b7c4766f8
                </div>
                <div class="card-body">
           
                </div>
            </div>
                   <div class="col-12 ">
            <a class="btn btn-dark w-100" href="{{ path('home') }}">Revenir à l'accueil</a>
        </div>
        </div>

     

    </div>

</div>

{% endblock %}